.navbar {
  @apply w-full;
  @apply flex;
  @apply justify-center;
  @apply mx-auto;

  @apply bg-gray-200;
  @apply sm:bg-red-200;
  @apply md:bg-yellow-200;
  @apply lg:bg-green-200;
  @apply xl:bg-blue-200;
  @apply 2xl:bg-purple-200;

  /* hd: 1024px */
  @apply hd:bg-pink-200;

  /* fhd: 1440px */
  @apply fhd:bg-white;
  @apply fhd:max-w-[1280px];
  @apply fhd:flex items-center justify-between;
  @apply fhd:h-20;
  @apply fhd:font-semibold;

  /* qhd: 1920px */
  @apply qhd:bg-teal-200;

  /* uhd: 3840px */
  @apply uhd:bg-black;
  @apply text-white;
}

.navbarLeft {
  @apply flex items-center;
}

.navbarRight {
  @apply flex items-center;
  @apply justify-center;

  @apply fhd:gap-12;
}

.navLink {
  @apply relative;
  @apply font-medium;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  color: #424242;

  @apply fhd:text-lg;
  @apply fhd:font-semibold;
  @apply transition-colors duration-300;
}

.navLink::after {
  content: '';
  @apply absolute;
  @apply right-0;
  @apply bottom-0;
  @apply h-[2px];
  @apply w-0;
  @apply transition-all;
  @apply duration-300;
  @apply ease-in-out;
  @apply origin-right;

  background-color: #7987e0;
}

.navLink:hover {
  color: #7987e0;
}

.navLink:hover::after {
  @apply w-full;
  @apply left-0;

  right: unset;
}
